.tlist{
	margin: 0px 30px;
}

.trow.title-bar{
	font-weight: bold;
	background-color: #c3c3c3;
	border-bottom: 1px solid #b1b1b1;
	box-shadow: 0px 0px 1px 1px #b1b1b1;
}

.trow.title-bar span{
	cursor: pointer;
}

.trow.title-bar select {
	background: rgb(28, 28, 28);
	color: white;
	font-weight: bold;
}

.pageFilterBox {
	height: 30px;
	display: flex;
	justify-content: space-between;
  	margin: 0px;
  	align-items: center;
}

.pageFilterBox .page-size{
	border: 1px solid grey;
	font-weight: bold;
}

.pages span{
	display: inline-block;
	width: 20px;
	cursor: pointer;
	border: 1px solid grey;
	border-radius: 2px;
	margin: 0px 5px;
	text-align: center;
	font-weight: bold;
	-webkit-transition: all .4s;
    transition: all .4s;
}
.pages span.active{
	background-color: grey;
	color: whitesmoke;
}

.pages span:hover {
	background-color: grey;
}

span[sort-by].active {
	color: grey;
	font-size: larger;
}