.trow {
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #ccc;
	-webkit-transition: all .4s;
    transition: all .4s;
}

.trow:hover {
	background-color: #d6d6d6;
}

.tcol {
	width: 16.67%;
	text-align: center;
}

.tcol.paymentStatus span{
	color: #f5f5f5;
	padding: 2px 3px;
	border-radius: 3px;
	display: inline-block;
  	width: 65px;
}

.tcol.paymentStatus.initiated span {
	background-color: blue;
}

.tcol.paymentStatus.failed span {
	background-color: red;
}

.tcol.paymentStatus.dropped span {
	background-color: grey;
}

.tcol.paymentStatus.success span {
	background-color: green;
}

.tcol.paymentStatus.refunded span {
	background-color: tan;
}
